<a href="https://colab.research.google.com/github/Shresti007/ANN_Bank_Churning_Happymonk/blob/main/Time_Series_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here in first question we have to take two Data sets of small and Large im and need to give out put of same variable when we use python script. So here im taking CSV file which is larger dataset and Paraquet file which is 10 percent of CSV file.. to get same out put when we use python script

In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("aapl.csv", parse_dates=True, index_col='Date')
data.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2020-02-01  75.150002  73.797501  74.059998  75.087502  135480400  73.988464
2020-03-01  75.144997  74.125000  74.287498  74.357498  146322800  73.269150
2020-06-01  74.989998  73.187500  73.447502  74.949997  118387200  73.852982
2020-07-01  75.224998  74.370003  74.959999  74.597504  108872000  73.505653
2020-08-01  76.110001  74.290001  74.290001  75.797501  132079200  74.688080

In [7]:
data.index

DatetimeIndex(['2020-02-01', '2020-03-01', '2020-06-01', '2020-07-01',
               '2020-08-01', '2020-09-01', '2020-10-01', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2021-01-11', '2021-02-11', '2021-03-11', '2021-04-11',
               '2021-05-11', '2021-08-11', '2021-09-11', '2021-10-11',
               '2021-11-11', '2021-12-11'],
              dtype='datetime64[ns]', name='Date', length=472, freq=None)

Now we will use Paraquet file which is smaller than csv file by 50 percent

In [10]:
data = pd.read_parquet('aapl.parquet')
data.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400  73.988464
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800  73.269150
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200  73.852982
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000  73.505653
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200  74.688080

In [11]:
data.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2021-11-01', '2021-11-02', '2021-11-03', '2021-11-04',
               '2021-11-05', '2021-11-08', '2021-11-09', '2021-11-10',
               '2021-11-11', '2021-11-12'],
              dtype='datetime64[ns]', name='Date', length=472, freq=None)